body{
    background-color: black;
    color: white;
    margin: 0px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0px auto;
}


.tabs{
    display: flex;
    gap: 28px;
    list-style-type: none;
}

@media screen and (max-width: 768px) {
    header{
       padding: 0px 10px; 
    }
}

@media screen and (max-width: 375px){
   header{
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 50px;
   }

   .tabs{
    flex-direction: column;
    padding: 0px;
   }
}