.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   gap: 10px;
}



.card{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
}