/* .heading-1 {
    display: inline-block;
    min-width: 500px;
    max-width: 800px;
    min-height: 100px;
    max-height: 120px;
    overflow: scroll;
    background-color: blue;  
}

.heading-2 {
    display: inline-block;
    visibility: hidden;
}

.heading-3 {
    display: inline-block;
} */

/* .inline-element{
    background-color: red;
    display: block;
} */

.box{
    height: 300px;
    width: 300px;
    background-color: blue;
    border: 1px solid black;
    box-shadow: 10px 10px 10px black;
}