.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.box {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    background-color: aqua;
    /* border-radius: 50%; */
    /* transform: translate(200px , 100px); */
    /* transform: scale(2); */
    transition: all 2s;
    animation-iteration-count: infinite;
    background-image: url('https://static3.webx.pk/files/53836/Images/bazzar-ii-page-38-53836-2260403-221124124022910.jpg');
}

.box:hover {
    /* transform: rotate(180deg); */
    /* transform: scale(1.5); */
    height: 500px;
    width: 500px;
    animation-name: myAnimation;
    animation-duration: 4s;
}


@keyframes myAnimation {
    /* from{
        background-color: red;
    }

    to{
        background-color: yellow;
        } */

    0% {
        background-image: url('https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg');
    }
    25%{
        background-image: url('https://i.pinimg.com/736x/75/6e/71/756e7177772be07c38a25a1e32655433.jpg');
    }
    50%{
        background-image: url('https://primedecor.pk/cdn/shop/files/40.jpg?v=1713729880');
    }
    75%{
        background-image: url('https://wallpapers-max.b-cdn.net/wallpapers/2025/31may/thumb/dark-tree-in-the-middle-of-a-purple-lake-wallpaper.jpg');
    }
}

.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation-iteration-count: infinite;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-11-22 15:49:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
